body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: 'Poppins-Regular';
    color: #202031;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'concertone-regular';
    src: url("../fonts/concertone-regular.ttf");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf");
}

.carousel-caption .laundry-services img {
    width: initial;
}

.laundry-services img {
    width: 63px;
}

.laundry-services li {
    margin-right: 80px;
}

.main-btn {
    height: 60px;
    background-color: #4e1686;
    border-radius: 10px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 33px;
    transition: .5s all;
    text-transform: uppercase;
}
.main-heading{
    font-weight: bold;
    font-family: sans-serif;
}
.main-btn:hover {
    background-color: #2f0a53;
    color: #fff !important;
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    background-color: #2f0a53;
    border-color: #2f0a53;
}

.border-left {
    border-left: 1px solid #00000010;
}

.border-bottom {
    border-bottom: 1px solid #00000010;
}

.how-work-box {
    padding: 100px;
}

.pt-20 {
    padding-top: 200px;
}

/*services*/

#services {
    padding: 20px 0;
    height: 700px;
    background: #4e16860d;
}


#services .service-text {
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#services .service-text h4 {
    color: #2f0a53;
    font-size: 22px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 20px;
}

#services .service-img .service-icon {
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #4e1686;
    border-radius: 50%;
    position: absolute;
    position: absolute;
    bottom: -50px;
    left: 29%;
}

#services .service-box {
    /* background-color: #fff; */
    padding: 30px;
    box-shadow: 4px 9px 19px #00000012;
    border-radius: 50px;
    position: relative;
    padding-top: 130px;
    padding-bottom: 50px;
}

#services .service-img .service-icon img {
    width: 58px;
}

.service-img-box {
    position: absolute;
    top: 0;
    top: -80px;
}

.owl-stage-outer {
    padding-top: 50px;
}

#services .main-btn {
    height: 45px;
    width: 170px;
}

#services .owl-carousel .owl-item {
    padding: 0 15px;
}

.owl-prev {
    height: 85px;
    width: 85px;
    background: #4e1686 !important;
    /* color: #fff !important; */
    border-radius: 50% !important;
    position: absolute;
    bottom: 50%;
    left: -12%;
    font-size: 40px !important;
}

.owl-next {
    height: 85px;
    width: 85px;
    background: #4e1686 !important;
    /* color: #fff !important; */
    border-radius: 50% !important;
    position: absolute;
    bottom: 50%;
    right: -12%;
    font-size: 40px !important;
}

.test-icon {
    position: absolute;
    bottom: 20px;
    width: 64px !important;
    right: 30px;
}

#testimonial .owl-prev {
    background: #4e1686 !important;
}

#testimonial .owl-next {
    background: #4e1686 !important;
}

#testimonial .owl-prev:hover {
    background: #2f0a53 !important;
}

#testimonial .owl-next:hover {
    background: #2f0a53 !important;
}

#testimonial .owl-stage-outer {
    padding: 60px 0;
}

.slider-height {
    height: 670px;
}


#button {
    display: inline-block;
    background-color: #4e1686;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: initial;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #262626;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#services .service-img:hover {
    scale: 1.1;
    transition: all 1s;
}


.carousel-caption h5 {
    font-size: 20px;
}

#about-us {
    margin: 100px 0;
}

.service-img-radius {
    border-radius: 30px;
}

.service-page {
    height: initial !important;
    background-color: #8BC63F14;
    padding: 150px 0;
}